#top-menu{
    font-family: 'Baloo Paaji';
    font-size: 18px;
}

#left-menu{
    display: none;
    top: 51px;
}

.formulario{
   width: 25%;
   margin: auto;
}

.divTable{
	display: table;
	width: 100%;
}

.divTableRow {
	display: table-row;
}

.divTableCell {
	border: 0px solid #999999;
	display: table-cell;
	padding: 3px 10px;
}

.ui input {
    height: 28px;
}

