#subtitulo{
    font-size: 40px;
    margin-top: 30px;
    margin-left: 15px;
}

.ui.cards{
    margin-top: 50px;
    margin-left: 100px; 
    margin-bottom: 50px;
}

#bandeiras{
    display: flex;
    align-content: space-between;
    margin-bottom: 10px;
}

#time_casa{
    margin-right: 30px;
    margin-left: 15px;
}

#time_fora{
    margin-left: 30px;
}

#icons{
    display: flex;        
    flex-direction: column;
    justify-content: space-around;
}

.calendar.outline.icon{
    font-size: 15px;
}

.map.pin.icon{
    font-size: 15px;
}

.clock.outline.icon{
    font-size: 15px;
}

.ui.search{
    margin-top: 60px;
    margin-left: 400px;  
    font-size: 20px;
}

#pesquisa{
    font-size: 40px;
    margin-top: 30px;
    margin-left: 400px;
}