.ui.cards{
    padding: 200px;
}

#imagem_card_casa{
    margin-left: 10px;
    margin-right: 30px;
    margin-bottom: 10px;
} 

#imagem_card_fora{
    margin-left: 30px;
    margin-right: 10px;
    margin-bottom: 10px;

}  

#nome_times{
    display: inline-flex;
    align-content: space-around;    
}

#nome_time_fora{
    padding-right: 30px;
}

#nome_time_casa{
    padding-right: 135px;
}

#icons{
    display:block;
    align-items:center;
}





