<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Aposte Já</title>
  <link rel="stylesheet" type="text/css" href="../../semantic/dist/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="home.css">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
  <script src="../../semantic/dist/semantic.min.js"></script>
</head>

<body>
  <div class="ui cards">

    <div class="card">
      <div class="content">
          <img class="ui tiny image" id="imagem_card_casa" src=".\\imgs\\bandeira_brasil.png">
          X 
          <img class="ui tiny image" id="imagem_card_fora" src=".\\imgs\\bandeira_brasil.png">
        <div id="nome_times">
            <div id="nome_time_casa">
                Brasil
              </div>
              <div class="nome_time_fora">
                Alemanha
              </div>
        </div>
        <div class="meta">
          Friends of Veronika
        </div>
        <div class="description">
          Elliot requested permission to view your contact details
        </div>
      </div>
      <div class="extra content">
        <div class="ui two buttons">
          <div class="ui basic green button">Approve</div>
          <div class="ui basic red button">Decline</div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="content">
        <img class="right floated mini ui image" src="/images/avatar/large/jenny.jpg">
        <div class="header">
          Jenny Hess
        </div>
        <div class="meta">
          New Member
        </div>
        <div class="description">
          Jenny wants to add you to the group
          <b>best friends</b>
        </div>
      </div>
      <div class="extra content">
        <div class="ui two buttons">
          <div class="ui basic green button">Approve</div>
          <div class="ui basic red button">Decline</div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="content">
        <img class="right floated mini ui image" src="/images/avatar/large/elliot.jpg">
        <div class="header">
          Elliot Fu
        </div>
        <div class="meta">
          Friends of Veronika
        </div>
        <div class="description">
          Elliot requested permission to view your contact details
        </div>
      </div>
      <div class="extra content">
        <div class="ui two buttons">
          <div class="ui basic green button">Approve</div>
          <div class="ui basic red button">Decline</div>
        </div>
      </div>
    </div>

  </div>
</body>